.competences-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.competences-type {
  width: 50%;
  height: calc(100% / 3);
  overflow: hidden;
}

.competences-type-titre {
  margin-bottom: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competences-type-titre>h1 {
  margin: 0;
}

.liste-competences {
  width: 100%;
  min-height: calc(75px * 2);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.img-competence {
  width: auto;
  height: auto;
  max-width: 75px;
  max-height: 75px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}


@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .competences-type-titre {
    font-size: 0.8em;
    height: 1.6em;
    margin: 0;
  }

  .img-competence {
    max-width: 60px;
    max-height: 60px;
  }
}

@media (max-width: 768px) {
  .competences-content {
    margin: 0 5vw;
    width: calc(100% - 2 * 5vw);
  }
}

@media (max-width: 576px) {
  .competences-type {
    width: 100%;
    height: calc(100% / 6);
  }

  .liste-competences {
    min-height: calc(100% - 1.6em - 1em);
    max-height: calc(100% - 1.6em - 1em);
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .img-competence {
    max-width: 40px;
    max-height: 40px;
  }
}

