html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

/*Header */
#header {
    width: 100%;
    position: fixed;
    top:0;
    background-color: #2faee0;
    height: 5em;
    display: flex;
    align-items: center;
}

#nom_header {
    position:fixed;
    left: 50%;
    transform: translate(-50%);
    font-size: 2em;
    font-weight: bolder;
    color:white;
}

#btn_menu {
    background-color: transparent;
    border: none;
    width: 10%;
    height: 100%;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#btn_menu img {
    max-height: 80%;
}

.reseaux {
    position: fixed;
    right: 0;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
.reseaux img {
    max-height: 3em;
}

/* Menu */
#menu {
    display:block;
    position: fixed;
    top :0;
    height: 100vh;
    width: 0%;
    transition: width 0.5s;
    overflow-y: hidden;
    background-color: #2faee0;
}

#close {
    width: 4.25em;
    height:4.25em;
    margin-top: 1em;
    margin-right: 1em;
    position: absolute;
    right: 0;
    border: none;
    text-align: center;
    background-color: transparent;
    background-image: url("./../image/menu/close.png");
    background-size:contain; 
}

#menu_liste {
    margin-top : calc(4.25em + 1em + 1em);
    min-height: calc(100vh - 4.25em + 1em + 1em);
    padding-left: 10%;
    overflow:hidden;
}

#menu_liste li {
    color:white;
    font-size: large;
    font-weight: bold;
    height: 2em;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-self: center;
    margin-right: 10%;
    padding-top: 1em;
}

#menu_liste li:last-child {
    border-bottom:0px;
}

/* Corps */
.bloc_info {
    min-height: calc(100vh - 5em);
    width: 100%;
    padding-top: 5em;
}

.bloc_info .titre_rubrique {
    width: 100%;
    height: 4em;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloc_info .titre_rubrique h2 {
    font-size: 2em;
    font-weight: bolder;
}

.bloc_info .contenu_rubrique {
    height: calc(100vh - 5em - 4em - 1em);
    width: 100%;
    display: flex;
    justify-content: center;
}


.bloc_info .contenu_rubrique .partie_gauche {
    width: 50%;
    height: calc(100vh - 5em - 4em - 1em);
}

.bloc_info .contenu_rubrique .partie_droite {
    width: 50%;
    height: calc(100vh - 5em - 4em - 1em);
}

.texte_centrer {
    margin: 20vh 10vh 0vh 10vh;
    height:  calc(100vh - 5em - 4em - 1em - 35vh);
    text-align: justify;
    display: flex;
    align-items: center;
}

.CV_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.CV_info  a:link, .CV_info  a:visited {
    align-self: center;
    height: 3em;
    border : none;
    background-color: #2faee0;
    font-size: large;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.CV_info a:hover {
    box-shadow: 5px 5px 10px #2faee0;
    text-shadow: 5px 5px 10px white;
}

.info_perso {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    font-weight: bolder;
    align-items: center;
    margin-bottom: 1em;
}

.texte_centrer p {
    font-size: larger;
}

.skills {
    margin: 10vh 10vh 5vh 10vh;
    height:  calc(100vh - 5em - 4em - 1em - 15vh);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.skills img {
    max-height: 2em;
}

.skills h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.skills table {
    align-self: center;
    text-align: justify;
}

.skills td {
    width: 35%;
    height: 1.7em;
    padding-top: 1em;
    border-bottom: 1px #2faee0 solid;
}

.table_centrer {
    width: 100%;
    padding: 5% 25% 5% 25%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}


.table_centrer th,td {
    padding-right: 3.5em;
    height: 1.5em;
}

.table_centrer th {
    height: 2.5em;
    font-weight: bold;
}

#photo_CV {
    margin-top: 1em;
    height: calc(100vh - 5em - 4em - 2em);
    text-align: center;
    background-image: url("./../image/photo_CV.jpg");
    background-position: top;
}

.bloc_info #projets .carousel {
    margin: 10vh;
    width: calc(100% - 20vh);
    height: calc(100% - 20vh);
    display: flex;
    align-items: bottom;
}

.bloc_info #projets .carousel-items {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    flex: 1 0 250px;
}
.bloc_info #projets .carousel-item {
    margin-left: 1rem;
    min-width: 25%;
    height: 100%;
}

.projet {
    height: calc(100% - 1.5rem - 2em);
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

.nom_projet {
    height: 10%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
    padding-bottom: 0.5em;
}

.img_projet {
    height: 70%;
    display: flex;
}

.projet .img_projet img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.desc_projet {
    height: 20%;
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc_projet p {
    height: 50%;
    overflow-y: hidden;
}

.desc_projet button {
    margin-top: 0.5%;
    height: 30%;
    width: 50%;
    border : none;
    background-color: #2faee0;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
}
.desc_projet a:link, .desc_projet a:visited {
    color:black;
}

.desc_projet button:hover {
    box-shadow: 5px 5px 10px #2faee0;
    text-shadow: 5px 5px 10px white;
}

.bloc_info form {
    margin: 10vh 0;
    width: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
}

.bloc_info form table {
    align-self: center;
    width: 25%;
}
.bloc_info form table td { 
    vertical-align: top;
    height: 2em;
}
.bloc_info form input, textarea {
    width: 100%;
}

.bloc_info form button {
    align-self: center;
    height: 3em;
    border : none;
    background-color: #2faee0;
    font-size: large;
    font-weight: bolder;
    color: white;
    border-radius: 1em;
    width: 25%;
}

.bloc_info form button:hover {
    box-shadow: 5px 5px 10px #2faee0;
    text-shadow: 5px 5px 10px white;
}
.reseaux_contact {
    margin-top : 3em;
    width: 25%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}
.reseaux_contact img {
    max-height: 5em;
}

#apres_mail {
    margin: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#msg_mail {
    height: calc(100vh - 40vh - 3em - 5em);
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg_mail h1 {
    font-size: 3em;
}

.projet_info {
    display: none;
    position: fixed;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 1em;
    border: 2px solid black;
    background-color: white;
}


.projet_info button {
    width: 4.25em;
    height:4.25em;
    margin-top: 1em;
    margin-right: 1em;
    position: absolute;
    right: 0;
    text-align: center;
    background-color: black;
    border-radius: 1em;
    background-image: url("./../image/menu/close.png");
    background-size:contain; 
}

.nom_projet_info {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.info_projet_detail {
    height: 85%;
    width: 100%;
    display: flex;
}

.partie_droite_projet, .partie_gauche_projet {
    height: 85%;
    margin-top: 5%;
}

.partie_gauche_projet {
    width: 40%;
    border-right: 1px solid;
}
.partie_droite_projet {
    width: 60%;    
}

.imageProjet {
    float: left;
    width: 100%;
    height: 100%;
}

.imageProjet p {
    padding-left: 15%;
}

.container {
    max-width: 800px;
    min-height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider img {
    max-width: 80%;
    margin-left: 15%;
    display: none;
    position: relative;
    justify-content: center;

}

.slider div img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.slider div:hover img {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

img.active {
    display: block;
    animation: fade 0.8s;
}

.cont-btn {
    color: black;
    height: auto;
    padding-left: 15%;
    display: flex;
    justify-content:space-around;
}

.btn-nav {
    font-size: 50px;
    cursor: pointer;
}

.pasimage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}

.description {
    float: left;
    width: 80%;
    padding:10%;
    text-align: justify;
}

.description a:link, .description a:visited {
    color:black;
    text-decoration: underline;
}
.description ul {
    padding-top: 1%;
    padding-left : 5%;
}

.description li {
    list-style: square;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2faee0; 
  }
  