$width-tittle-lg : 35vw;
$min-height-header: 7vh;
$padding-header-cote : 2.5vw;
$margin-cote: 1vw;
$margin-hauteur: 1vh;

.header-tittle {
  width: $width-tittle-lg;
  height: $min-height-header;
  padding: 0 $padding-header-cote;
  display: flex;
  align-items: center;
}

.header-tittle-img {
  display: inline-block;
  position: relative;
  width: $min-height-header;
  height: $min-height-header;
  overflow: hidden;
  border-radius: 50%;
  margin-right: $margin-cote;
}

.header-tittle-img img {
  width: 100%;
  height: auto;
  margin-top: -$margin-hauteur;
}

.header-nav-close-open {
  width: 4vh;
  height: 4vh;
  background-image: url("../../assets/Images/icones/menu.svg");
  background-size: contain;
  display: none;
  align-self: center;
}

.close {
  background-image: url("../../assets/Images/icones/close.svg");
}

.header-nav {
  height: 100%;
  width: calc(100% - $width-tittle-lg - 4* $padding-header-cote);
  padding: 0 2.5vw;
}

.header-nav-list {
  margin:0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
}

.header-nav-list>.header-nav-item {
  margin-left: 1em;
  height: 75%;
}

.header-nav-list>.header-nav-item:hover {
  cursor: pointer;
}

.header-nav-link {
  width: calc(100% - 2em);
  height: calc(100% - 1em);
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  font-weight: bold;
}
.header-nav-link:hover {
  background-color: rgb(200,209,222, 0.75);
  color: white!important;
}

.header-nav-item-active {
  background-color: black;
  color: white!important;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

  .header-tittle {
    width: 7vh;
  }

  .header-tittle-nom {
    display: none;
  }

  .header-tittle-img {
    margin: 0;
  }

  .header-nav {
    width: calc(100% - 7vh - 4* 2.5vw);
  }
}

@media (max-width: 992px) {

  .header-tittle {
    min-width: fit-content;
  }

  .header-nav-close-open {
    display: block;
  }

  .header-nav {
    display: none;
    width: 100%;
    height: fit-content;
    background-color: rgb(200,209,222);
    z-index: 10;
    padding: 1em 0 0;
  }

  .nav-open {
    display: block;
  }

  .header-nav-list {
    height: fit-content;
    flex-direction: column;
  }

  .header-nav-link {
    border-radius: 0%;
    justify-content: center;
  }

  .header-nav-list>.header-nav-link,
  .header-nav-list>.header-nav-item {
    margin-left: 0!important;
    width: 100%;
  }

  .header-nav-list>.header-nav-link {
    width: calc(100% - 2em);
  }

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}





