.header-tittle {
  width: 35vw;
  height: 7vh;
  padding: 0 2.5vw;
  display: flex;
  align-items: center;
}

.header-tittle-img {
  display: inline-block;
  position: relative;
  width: 7vh;
  height: 7vh;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1vw;
}

.header-tittle-img img {
  width: 100%;
  height: auto;
  margin-top: -1vh;
}

.header-nav {
  height: 100%;
  width: 65vw;
  padding: 0 2.5vw;
}

.header-nav-list {
  margin:0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
}

.header-nav-list>.header-nav-item {
  margin-left: 1em;
  height: 75%;
}

.header-nav-list>.header-nav-item:hover {
  cursor: pointer;
}

.header-nav-link {
  width: calc(100% - 2em);
  height: calc(100% - 1em);
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-item-active {
  border-radius: 1em;
  background-color: black;
  color: white!important;
  font-weight: bold;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

  .header-tittle {
    margin: 0;
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .header-tittle-nom {
    display: none;
  }

  .header-nav {
    width: 100%;
    height: 3em;
    padding: 1vh 0 0;
  }

  .header-nav-list {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .header-nav-list>.header-nav-item {
    height: 100%;
  }

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

  .header-nav {
    height: 6em;
  }

  .header-nav-list {
    margin-top: -0.5em;
    height: 100%;
    padding: 0 15vw;
  }

  .header-nav-list>.header-nav-item {
    margin: 0.5em 0 0;
    padding: 0;
    width: 50%;
    height: 50%;
    justify-content: center;
  }

  .header-nav-link {
    height: 50%;
  }
}





