<div class="header-tittle">
  <div class="header-tittle-img">
    <img [src]="personne.img" [alt]="personne.nom">
  </div>
  <div class="">
    <h1>{{ personne.nom | uppercase }} {{ personne.prenom | titlecase }}</h1>
  </div>
</div>

<nav class="header-nav">
  <ul class="header-nav-list">
    <li class="header-nav-item">
      <a class="header-nav-link" routerLink="" routerLinkActive="header-nav-item-active"
         [routerLinkActiveOptions]="{ exact: true }">
        Accueil
      </a>
    </li>
    <li class="header-nav-item">
      <a class="header-nav-link" routerLink="/presentation" routerLinkActive="header-nav-item-active"
         [routerLinkActiveOptions]="{ exact: true }">
        Présentation
      </a>
    </li>
    <li class="header-nav-item">
      <a class="header-nav-link" routerLink="/projets" routerLinkActive="header-nav-item-active"
         [routerLinkActiveOptions]="{ exact: true }">
        Mes projets
      </a>
    </li>
    <li class="header-nav-item">
      <a class="header-nav-link" routerLink="/contact" routerLinkActive="header-nav-item-active"
         [routerLinkActiveOptions]="{ exact: true }">
        Contact</a>
    </li>
  </ul>
</nav>
