/*  Card  */
$projetCard-width: 100%;
$projetCard-height: 100%;
$projetCard-bg-size: 100% auto;
$projetCard-bg-size-xl: 100%;

/*  Card info */
$projetCard-info-padding-tp: 0;
$projetCard-info-padding-lr: 1rem;
$projetCard-info-width: calc(100% - 2*$projetCard-info-padding-lr);
$projetCard-info-height: 40%;
$projetCard-info-gap: 7px;
$projetCard-info-bg-color: rgb(200, 209, 222, 0.75);
$projetCard-info-transition-time: 200ms;
$projetCard-info-border-radius: 10px;
$projetCard-info-titre-padding-tp: 10px;
$projetCard-info-titre-padding-lr: 0;
$projetCard-info-titre-height: calc(75% - 2*$projetCard-info-titre-padding-tp - $projetCard-info-gap);
$projetCard-info-presentation-height-hover: calc(85% - $projetCard-info-gap);
$projetCard-info-presentation-transition-time: 1s;
$projetCard-info-technos-height: calc(100% - $projetCard-info-titre-height - $projetCard-info-gap);
$projetCard-info-technos-height-hover: calc(100% - $projetCard-info-presentation-height-hover - $projetCard-info-gap);
$projetCard-info-technos-padding-tp: 10px;
$projetCard-info-technos-padding-lr: 0;
$projetCard-info-technos-width-max: 100%;
$projetCard-info-technos-gap: 5px;
$projetCard-info-technos-logo-width-height: 30px;
$projetCard-info-technos-logo-height: 100%;
$projetCard-info-technos-logo-width: 20px;
$projetCard-info-technos-logo-bg-size: 100% auto;

/*  Card info hover */
$projetCard-info-height-hover: 100%;
$projetCard-info-bg-color-hover: rgb(200, 209, 222, 0.9);

.projetCard {
  width: $projetCard-width;
  height: $projetCard-height;
  background-repeat: no-repeat;
  background-size: $projetCard-bg-size;
  background-position: center;
  display: flex;
  cursor: pointer;
}

.projetCard__info {
  height: $projetCard-info-height;
  width: $projetCard-info-width;
  max-width: $projetCard-info-width;
  align-self: flex-end;
  background-color: $projetCard-info-bg-color;
  padding: $projetCard-info-padding-tp $projetCard-info-padding-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: $projetCard-info-gap;
  transition: $projetCard-info-transition-time ease-out;
  border-radius: $projetCard-info-border-radius $projetCard-info-border-radius 0 0;
}

.projetCard__info__titre {
  height: $projetCard-info-titre-height;
  padding: $projetCard-info-titre-padding-tp $projetCard-info-titre-padding-lr;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.projetCard__info > * {
  margin: 0;
}

.projetCard:hover > .projetCard__info {
  height: $projetCard-info-height-hover;
  background-color: $projetCard-info-bg-color-hover;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projetCard:hover {
  .projetCard__info {

    .projetCard__info__titre {
      display: none;
    }

    .projetCard__info__presentation {
      padding-top: 10px;
      display: block;
      height: $projetCard-info-presentation-height-hover;
      overflow: hidden;
    }

    .projetCard__info__technos {
      height: $projetCard-info-technos-height-hover;
    }
  }

}
.projetCard__info__presentation {
  display: none;
  -webkit-animation: fadeIn $projetCard-info-presentation-transition-time;
  animation: fadeIn $projetCard-info-presentation-transition-time;
}

.projetCard__info__technos {
  max-width: $projetCard-info-technos-width-max;
  height: $projetCard-info-technos-height;
  display: flex;
  flex-wrap: wrap;
  gap: $projetCard-info-technos-gap;
}

.projetCard__info__technos > .projetCard__info__technos__techno {
  height: $projetCard-info-technos-logo-height;
  width: $projetCard-info-technos-logo-width;
  background-size: $projetCard-info-technos-logo-bg-size;
  background-position: center;
  background-repeat: no-repeat;
}
