
.presentation-projet__body__sliders {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.presentation-projet__body__sliders__slide {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.presentation-projet__body__sliders__slide-left {
  left: -100%;
}

.presentation-projet__body__sliders__slide-right {
  right: -100%;
}
