$parcours-margin-t:1rem;
$container-margin-lr:10px;
$parcours-gap:20px;

.parcoursContent {
  width: 100%;
  padding-top: $parcours-margin-t;
  height: calc(var(--body-height-min) - 1em);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: $parcours-gap;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  margin: 0 $container-margin-lr;
}
