$width-tittle-lg : 35vw;
$min-height-header: 7vh;
$titre-width-xl:$min-height-header;
$margin-cote: 1vw;
$margin-hauteur: 1vh;

$header-titre-img-width: 100%;
$header-titre-img-height: auto;

$header-closeOpen-nav-size:4vh;

$header-nav-height:100%;
$header-nav-padding-lr: 2.5vw;
$header-nav-padding-lr-lg: 0;
$header-nav-padding-t-lg: 1rem;
$header-nav-padding-b-lg: 0;
$header-nav-width:calc(100% - $width-tittle-lg - 4* $header-nav-padding-lr);
$header-nav-width-xl:calc(100% - $titre-width-xl - 4* $header-nav-padding-lr);
$header-nav-width-lg:100%;
$header-nav-liste-height:100%;
$header-nav-item-margin-l: 1rem;
$header-nav-item-margin-l-lg: 0;
$header-nav-item-height:75%;
$header-nav-item-width-lg:100%;
$header-nav-item-active-bg-color: rgb(0,0,0);
$header-nav-item-link-padding-tb: 0.5rem;
$header-nav-item-link-padding-lr: 1rem;
$header-nav-item-link-width: calc(100% - 2*$header-nav-item-link-padding-lr);
$header-nav-item-link-width-lg: calc(100% - 2*$header-nav-item-link-padding-lr);
$header-nav-item-link-height: calc(100% - 2*$header-nav-item-link-padding-tb);
$header-nav-item-link-bg-color-hover:rgb(200,209,222,0.75);

.header__titre {
  width: $width-tittle-lg;
  height: $min-height-header;
  padding: 0 $header-nav-padding-lr;
  display: flex;
  align-items: center;
}

.header__titre__img {
  display: inline-block;
  position: relative;
  width: $min-height-header;
  height: $min-height-header;
  overflow: hidden;
  border-radius: 50%;
  margin-right: $margin-cote;
}

.header__titre__img img {
  width: $header-titre-img-width;
  height: $header-titre-img-height;
  margin-top: -$margin-hauteur;
}

.header__navCloseOpen {
  width: $header-closeOpen-nav-size;
  height: $header-closeOpen-nav-size;
  background-image: var(--svg-menu);
  background-size: contain;
  display: none;
  align-self: center;
}

.close {
  background-image: var(--svg-close);
}

.header__nav {
  height: 100%;
  width: calc(100% - $width-tittle-lg - 4* $header-nav-padding-lr);
  padding: 0 $header-nav-padding-lr;
}

.header__nav__list {
  margin:0;
  padding: 0;
  height: $header-nav-liste-height;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
}

.header__nav__list>.header__nav__item {
  margin-left: $header-nav-item-margin-l;
  height: $header-nav-item-height;
}

.header__nav__list>.header__nav__item:hover {
  cursor: pointer;
}

.header__nav__item__link {
  padding: $header-nav-item-link-padding-tb $header-nav-item-link-padding-lr;
  width: $header-nav-item-link-width;
  height: $header-nav-item-link-height;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 1em;
  font-weight: bold;
}
.header__nav__item__link:hover {
  background-color: $header-nav-item-link-bg-color-hover;
  color: white!important;
}

.header-nav-item-active {
  background-color: $header-nav-item-active-bg-color;
  color: white!important;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

  .header__titre {
    width: $titre-width-xl;
  }

  .header__titre__nom {
    display: none;
  }

  .header__titre__img {
    margin: 0;
  }

  .header__nav {
    width: $header-nav-width-xl;
  }
}

@media (max-width: 992px) {

  .header__titre {
    min-width: fit-content;
  }

  .header__navCloseOpen {
    display: block;
  }

  .header__nav {
    display: none;
    width: $header-nav-width-lg;
    height: fit-content;
    background-color: rgb(200,209,222);
    z-index: 10;
    padding: $header-nav-padding-t-lg $header-nav-padding-lr-lg $header-nav-padding-b-lg;
  }

  .header__nav-open {
    display: block;
  }

  .header__nav__list {
    height: fit-content;
    flex-direction: column;
  }

  .header__nav__item__link {
    border-radius: 0%;
    justify-content: center;
  }

  .header__nav__list>.header__nav__item__link,
  .header__nav__list>.header__nav__item {
    margin-left: $header-nav-item-margin-l-lg!important;
    width: $header-nav-item-width-lg;
  }

  .header__nav__list>.header__nav__item__link {
    width: $header-nav-item-link-width-lg;
  }

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}





