/*  Timeline border  */
$timeline-border-px: 1px;
$timeline-border-color: rgb(0, 0, 0);
$timeline-border-radius: 10px;
/* Timeline  */
$timeline-min-width: 65%;
$timeline-width-sm: 100%;
$timeline-max-width: calc(100% - 2 * $timeline-border-px);
$timeline-min-height: calc(100px - 2 * $timeline-border-px);
/*  Box Shadow timeline  */
$timeline-box-shadow-x: -5px;
$timeline-box-shadow-y: 7px;
$timeline-box-shadow-blur-radius: 5px;
$timeline-box-shadow-color: rgb(0, 0, 0, 0.25);
/*  Icone timeline  */
$timeline-icone-width: 100px;
$timeline-icone-height-min: 100%;
$timeline-icone-bg-color: rgb(0, 0, 0);
$timeline-icone-bg-image-size: 50%;
/*  Timeline show/hide  */
$timeline-showHide-width: 100px;
$timeline-showHide-height-min: calc(100px - 2 * $timeline-border-px);
$timeline-showHide-before-width: 100%;
$timeline-showHide-before-height: 100%;
$timeline-showHide-before-bg-size: 50%;
/*  Timeline content  */
$timeline-content-width: calc(100% - $timeline-icone-width - $timeline-showHide-width - 2 * $timeline-border-px);
$timeline-content-width-sm: 100%;
$timeline-content-padding-tb: 10px;
$timeline-content-padding-lr: 20px;
$timeline-content-titre-height: 2rem;
$timeline-content-titre-width: 100%;
$timeline-content-info-margin-r: 10px;
$timeline-content-descr-margin-t: 10px;

p {
  margin: 0;
  align-self: flex-end;
}

.timeline {
  min-width: $timeline-min-width;
  width: fit-content;
  max-width: $timeline-max-width;
  min-height: $timeline-min-height;
  display: flex;
  border-radius: $timeline-border-radius;
  cursor: pointer;
  box-shadow: $timeline-box-shadow-x $timeline-box-shadow-y $timeline-box-shadow-blur-radius $timeline-box-shadow-color;
}

.timeline > * {
  border: $timeline-border-px solid $timeline-border-color;
}

.timeline-odd {
  flex-direction: row-reverse;
  align-self: end;
}

.timeline-odd > .timeline__icon,
.timeline-even > .timeline__content__showHide {
  border-radius: 0 $timeline-border-radius $timeline-border-radius 0;
}

.timeline-even > .timeline__icon,
.timeline-odd > .timeline__content__showHide {
  border-radius: $timeline-border-radius 0 0 $timeline-border-radius;
}

.timeline-odd > .timeline__content,
.timeline-even > .timeline__content__showHide {
  border-left: none;
}

.timeline-even > .timeline__content,
.timeline-odd > .timeline__content__showHide {
  border-right: none;
}

/*  Timeline icone  */
.timeline__icon {
  width: $timeline-icone-width;
  min-height: $timeline-icone-height-min;
  background-color: $timeline-icone-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-diplome,
.timeline-travail {
  background-size: $timeline-icone-bg-image-size;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline-diplome {
  background-image: var(--svg-diplome);
}

.timeline-travail {
  background-image: var(--svg-travail);
}

/*  Timeline content  */
.timeline__content {
  max-width: $timeline-content-width;
  width: $timeline-content-width;
  padding: $timeline-content-padding-tb $timeline-content-padding-lr;
}

.timeline__content__tittre {
  height: $timeline-content-titre-height;
  display: flex;
  align-items: center;
  width: $timeline-content-titre-width;
}

.timeline__content__tittre > h1 {
  margin: 0;
  text-transform: uppercase;
}

.timeline__content__tittre > h4 {
  margin: 0;
}

.timeline__content__info {
  display: flex;
  flex-wrap: wrap;
}

.timeline__content__info > * {
  margin-right: $timeline-content-info-margin-r;
  display: flex;
}

.timeline__content__descr {
  margin-top: $timeline-content-descr-margin-t;
}

/*  Timeline show/hide  */
.timeline__content__showHide {
  width: $timeline-showHide-width;
  min-height: $timeline-showHide-height-min;
  display: flex;
  justify-content: center;
  position: relative;
}

.timeline__content__showHide__show::before {
  transform: rotate(0deg);
}

.timeline__content__showHide__hide::before {
  transform: rotate(180deg);
}


.show-hide::before {
  content: "";
  position: absolute;
  width: $timeline-showHide-before-width;
  height: $timeline-showHide-before-height;
  margin: auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--svg-fleche) no-repeat center;
  background-size: $timeline-showHide-before-bg-size;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .timeline__content {
    border-radius: $timeline-border-radius;
    border: $timeline-border-px solid $timeline-border-color !important;
  }
  .timeline {
    width: $timeline-width-sm;
    min-height: fit-content;
  }

  .timeline__icon {
    display: none;
  }

  .timeline__content {
    max-width: $timeline-content-width-sm;
    width: $timeline-content-width-sm;
  }

  .timeline__content__showHide {
    display: none;
  }
}
