<div class="timeline" [ngClass]="{ 'timeline-odd': position % 2 == 0, 'timeline-even': position % 2 != 0 }"
     (click)="experience.descr != '' && showHideDescr($event)" [title]="experience.nom">
  <div class="timeline-icon" [ngClass]="{ 'timeline-diplome': experience.diplome, 'timeline-travail': !experience.diplome }">
  </div>
  <div class="timeline-content">
    <div class="timeline-content-tittre" >
      <h1>{{ experience.abrev }}</h1>
    </div>
    <div class="timeline-content-info">
      <div class="timeline-content-info-annee">
        📅 {{ experience.annees[0] }}/{{ experience.annees[1] }}
      </div>
      <div class="timeline-content-info-etablissement">
        <p>🏢 {{ experience.etablissement }}</p>
      </div>
      <div class="timeline-content-info-ville">
        <p>📍 {{ experience.ville }} {{ experience.pays }}</p>
      </div>
    </div>
    <div class="timeline-content-descr" [style.display]="show ? 'block' : 'none'">
      <p>
        {{ experience.descr }}
      </p>
    </div>
  </div>
  <div class="timeline-content-show-hide" [ngClass]="{ 'show-hide': experience.descr, 'timeline-content-show-hide__show': !show, 'timeline-content-show-hide__hide': show }">
  </div>
</div>
