<div class="timeline" [ngClass]="{ 'timeline-odd': position % 2 == 0, 'timeline-even': position % 2 != 0 }"
     (click)="experience.descr != '' && showHideDescr($event)" [title]="experience.nom">
  <div class="timeline-icon">
    <img [src]="experience.diplome ? 'assets/Images/icones/diplome.png' : 'assets/Images/icones/travail.png' "
         [alt]="experience.diplome ? 'Diplôme' : 'Travail'">
  </div>
  <div class="timeline-content">
    <div class="timeline-content-tittre" >
      <h2>{{ experience.abrev }}</h2>
    </div>
    <div class="timeline-content-info">
      <div class="timeline-content-info-annee">
        📅 {{ experience.annees[0] }}/{{ experience.annees[1] }}
      </div>
      <div class="timeline-content-info-etablissement">
        <p>🏢 {{ experience.etablissement }}</p>
      </div>
      <div class="timeline-content-info-ville">
        <p>📍 {{ experience.ville }} {{ experience.pays }}</p>
      </div>
    </div>
    <div class="timeline-content-descr">
      <p>
        {{ experience.descr }}
      </p>
    </div>
  </div>
  <div class="timeline-content-show-hide timeline-content-show">
    <img *ngIf="experience.descr != ''" src="assets/Images/icones/show_hide.png" alt="Show/Hide">
  </div>
</div>
