p {
  margin: 0;
  align-self: flex-end;
}

.timeline {
  min-width: 65%;
  width: fit-content;
  max-width: calc(100% - 2px);
  min-height: calc(100px - 2px);
  margin-bottom: 1em;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -5px 7px 5px rgb(0,0,0,0.25);
}

.timeline>* {
  border: 1px solid #000000;
}

.timeline-odd {
  flex-direction: row-reverse;
  align-self: end;
}

.timeline-odd>.timeline-icon,
.timeline-even>.timeline-content-show-hide {
  border-radius: 0 10px 10px 0;
}

.timeline-even>.timeline-icon,
.timeline-odd>.timeline-content-show-hide {
  border-radius: 10px 0 0 10px;
}
.timeline-odd>.timeline-content,
.timeline-even>.timeline-content-show-hide {
  border-left: none;
}
.timeline-even>.timeline-content,
.timeline-odd>.timeline-content-show-hide {
  border-right: none;
}

.timeline-icon {
  width: calc(100px - 2px);
  min-height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-diplome {
  background-image: url("../../assets/Images/icones/diplome.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


.timeline-travail {
  background-image: url("../../assets/Images/icones/travail.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.timeline-content {
  max-width: calc(100% - 100px - 100px - 2px);
  width: calc(100% - 100px - 100px - 2px);
  padding: 10px 20px;
}

.timeline-content-tittre {
  height: 2em;
  display: flex;
  align-items: center;
  width: 100%;
}

.timeline-content-tittre>h1 {
  margin: 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.timeline-content-tittre>h4 {
  margin: 0;
}

.timeline-content-info {
  display: flex;
  flex-wrap: wrap;
}

.timeline-content-info>* {
  margin-right: 10px;
  display: flex;
  font-size: 1em;
}

.timeline-content-descr {
  margin-top: 10px;
  display: none;
}

.timeline-content-descr>p {
  text-align: justify;
}

.timeline-content-show-hide {
  width: calc(100px - 2px);
  min-height: calc(100px - 2px);
  display: flex;
  justify-content: center;
}

.show-hide {
  background-image: url("../../assets/Images/icones/show-hide.svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
  .timeline-content-tittre>h1 {
    font-size: 1em;
  }

  .timeline-content-info>*,
  .timeline-content-descr>p  {
    font-size: 0.9em;
  }

}

@media (max-width: 992px) {
  .timeline-content-tittre>h1 {
    font-size: 1em;
  }

  .timeline-content-info>*,
  .timeline-content-descr>p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .timeline-content {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000!important;
  }
  .timeline {
    width: 100%;
    min-height: fit-content;
  }

  .timeline-icon {
    display: none;
  }

  .timeline-content {
    max-width: 100%;
    width: 100%;
  }

  .timeline-content-show-hide {
    display: none;
  }
}
