.presentation {
  padding-top: 1em;
  width: 100%;
  height: calc(var(--body-height-min-lg) - 1em);
  display: flex;
  flex-wrap: wrap;
}
.presentation-info {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.presentation-info-img {
  width: 100%;
  height: 25%;
  background-size: cover;
  background-position: center;
}

.presentation-info-content {
  padding-top: 1em;
  width: calc(100% - 2em);
  margin: 0 1em;
}

.presentation-info-content>* {
  margin: 0;
}

.presentation-info-content-tittle {
  font-size: 2em;
}

.presentation-info-content-metier {
  font-size: 0.75em;
}

.presentation-info-content-situation {
  margin-top: 1em!important;
  font-size: 1em;
  text-align: justify;
}

.presentation-info-content-donnees {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em!important;
  padding-bottom: 1em;
}

.donnees-content {
  width: calc(100%);
  margin-top: 0.5em;
}


.tittle-donnees {
  display: flex;
  flex-direction: column;
}

.donnees {
  margin-top: 0.5em;
}

.donnees-content>.tittle-donnees {
  margin: 0;
}

.donnees-content>.tittle-donnees>.donnees {
  font-weight: normal!important;
}

.info-niveau-etude {
  display: inline-block;
  background-size: cover;
  background-position: center;
  height: 0.9em;
  width: 0.9em;
}

.presentation-descr {
  width: calc(100% - 30% - 2em);
  margin: 1em 1em;
}

.presentation-descr>h1 {
  margin-top: 0;
}

.presentation-descr>p {
  text-align: justify;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
  .presentation-info-content-tittle {
    font-size: 1.75em;
  }

  .presentation>* {
    font-size: 0.9em;
  }

  .presentation-descr>h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 992px) {
  .presentation {
    height: fit-content;
  }
  .presentation-info {
    width: 100%;
    height: fit-content;
    max-height: fit-content;
    flex-direction: row;
  }
  .presentation-info-content {
    width: calc(75% - 1em);
  }
  .presentation-info-img {
    width: 25%;
    height: auto;
  }
  .donnees-content {
    margin-left: 0.5em;
    margin-right: 0.5em;
    width: calc(50% - 1em);
  }

  .donnees-content:nth-child(2n + 1) {
    margin-left: 0;
  }

  .presentation-descr {
    border-top: 1px solid rgb(0,0,0, 0.25);
    width: 100%;
    height: fit-content;
  }

  .presentation-descr>h1 {
    margin: 1em 0;
  }

}

@media (max-width: 768px) {
  .presentation {
    padding: 1em 1em;
    width: calc(100% - 2em);
  }
}

@media (max-width: 576px) {

  .presentation-info-content-tittle {
    font-size: 1.5em;
  }

  .presentation>* {
    font-size: 0.8em;
  }

  .presentation-descr>h1 {
    font-size: 1.5em;
  }

  .presentation {
    padding-top: 1em;
  }

  .presentation-info-img {
    display: none;
  }

  .presentation-info-content {
    width: calc(100% - 2em);
  }
}

