<div class="presentation">
  <div class="presentation__info">
    <div class="presentation__info__img" [ngStyle]="{'background-image': 'url('+personne.img+')'}">
    </div>

    <div class="presentation__info__content">
      <h1 class="presentation__info__content__tittle">
        {{ personne.nom | uppercase }} {{ personne.prenom | titlecase }}
      </h1>
      <h3>{{ personne.metier }}</h3>

      <div class="presentation__info__content__donnees">
        <div class="presentation__info__content__donnees__info">
          <h4 class="presentation__info__content__donnees__info__titre">
            Date de naissance :
            <span class="presentation__info__content__donnees__info__valeur">
              {{ personne.dateNaissance | date: 'd MMMM yyyy' }} ({{ personne.age }} ans)
            </span>
          </h4>
        </div>
        <div class="presentation__info__content__donnees__info">
          <h4 class="presentation__info__content__donnees__info__titre">
            Niveau d'étude :
            <span class="presentation__info__content__donnees__info__valeur">
              {{ personne.niveauEtude.niveau }}
              <span class="info-niveau-etude" [title]="personne.niveauEtude.nomDiplome"
                    style="background-image: url('../../../../assets/Images/icones/info.svg')"></span>
            </span>
          </h4>
        </div>

        <div class="presentation__info__content__donnees__info" *ngFor="let contact of personne.contacts">
          <h4 class="presentation__info__content__donnees__info__titre">
            {{ contact.type }} :
            <span class="presentation__info__content__donnees__info__valeur">
              {{ contact.valeur }}
            </span>
          </h4>
        </div>


        <div class="presentation__info__content__donnees__info">
          <h4 class="presentation__info__content__donnees__info__titre">
            Ville :
            <span class="presentation__info__content__donnees__info__valeur">
              {{ personne.ville.nom }}

              <span class="presentation__info__content__donnees__info__valeur__pays">
                {{ personne.ville.pays }}
              </span>
            </span>
          </h4>
        </div>

      </div>
    </div>
  </div>

  <div class="presentation__descr">
    <h1>À propos</h1>
    <p>{{ personne.situation }}</p>
    <p [innerHTML]="personne.description"></p>
  </div>
</div>
