.header {
  width: 100vw;
  height: 7vh;
  padding: 3vh 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(200,209,222);
}

.body {
  padding: 0 20vw;
  width: 60vw;
  height: calc(100vh - 7vh - 2*3vh);
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .header {
    padding: 1vh 0;
    height: 7vh;
  }

  .body {
    min-height: calc(100vh - (7vh) - 2vh);
  }

}

@media (max-width: 768px) {
  .body {
    padding: 0;
    width: 100vw;
  }
}

@media (max-width: 576px) {
}

