.header {
  max-width: 100vw;
  height: var(--header-height);
  padding: var(--header-padding-tb) 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--header-bg);
}

.body {
  padding: 0 var(--body-padding-lr);
  max-width: var(--body-width);
  min-height:  var(--body-height-min);
  max-height: fit-content;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .header {
    padding: var(--header-padding-tb-lg) 0;
  }

  .body {
    min-height: var(--body-height-min-lg);
  }

}

@media (max-width: 768px) {
  .body {
    padding: 0  var(--body-padding-lr-md);
    max-width: var(--body-width-md);
  }
}

@media (max-width: 576px) {
  .body {
    padding: 0 0;
    max-width: var(--body-width-sm);
  }
}

