/*  Image accueil  */
$width-img:50%;
$height-img:100%;
$width-img-lg:100%;
$height-img-lg:25%;
$height-img-md:30%;

/*  Texte accueil */
$padding-text-content:4em;
$width-text:50%;
$height-text:100%;
$width-text-lg:100%;
$height-text-lg: calc(100% - $height-img-lg);
$height-text-md: calc(100% - $height-img-md);

.contentAccueil {
  width: 100%;
  height: var(--body-height-min);
  display: flex;
  flex-wrap: wrap;
}

.contentAccueil__img {
  width: $width-img;
  height: $height-img;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentAccueil__img>img {
  max-height: 100%;
}

.contentAccueil__texte {
  width: $width-text;
  height: $height-text;
}

.contentAccueil__texte__content {
  padding: $padding-text-content;
  height: calc(100% - 2*$padding-text-content);
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


@media (max-width:1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .contentAccueil__img {
    width: $width-img-lg;
    height: $height-img-lg;
  }

  .contentAccueil__img>img {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .contentAccueil__texte {
    width: $width-text-lg;
    height: $height-text-lg;
  }
}

@media (max-width: 768px) {
  .contentAccueil__img {
    height: $height-img-md
  }
  .contentAccueil__texte {
    height: $height-text-md;
  }
}

@media (max-width: 576px) {
}
