<div class="contentAccueil">
  <div class="contentAccueil__img">
    <img [src]="personne.img" [alt]="personne.nom">
  </div>
  <div class="contentAccueil__texte">
    <div class="contentAccueil__texte__content">
      <h1 class="contentAccueil__texte__content__titre">Bonjour, je m'appelle Kévin !</h1>
      <p class="contentAccueil__texte__content__texte">
        Bienvenue sur mon portfolio !
        <br>
        <br>
        Vous pourrez retrouver sur ce portfolio, les différents projets que j'ai pu effectuer professionnellement ou
        bien personnellement, ainsi que différentes informations sur moi-même.
        <br>
        <br>
        Bonne visite !
      </p>
    </div>
  </div>
</div>
