.competences-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.competences-type {
  width: calc(50% - 0.5px);
  height: calc(100% / 3);
  overflow: hidden;
}

.competences-type:nth-child(2),
.competences-type:nth-child(3),
.competences-type:nth-child(6), {
  background-color: rgb(200,209,222, 0.25);
}

.competences-type-titre {
  width: 100%;
  display: flex;
  font-size: 1em;
  height: 2em;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
}

.competences-type-titre>h1 {
  margin: 0;
}

.liste-competences {
  width: 100%;
  height: calc(100% - 3em);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.img-competence {
  width: auto;
  height: auto;
  max-width: 75px;
  max-height: 75px;
  margin-right: 1em;
  margin-bottom: 0.5em;
}



@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .competences-type-titre {
    font-size: 0.8em;
    height: 1.6em;
  }

  .liste-competences {
    height: calc(100% - 1.6em - 1em);
  }

  .img-competence {
    max-width: 60px;
    max-height: 60px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .competences-type {
    width: 100%;
    height: calc(100% / 6);
    background-color: transparent!important;
  }

  .competences-type:nth-child(2n) {
    background-color: rgb(200,209,222, 0.25) !important;
  }

  .liste-competences {
    height: calc(100% - 1.6em - 1em - 1em);
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .img-competence {
    max-width: 40px;
    max-height: 40px;
  }
}

