/*  Bloc  */
$bloc-padding:1rem;
$bloc-width:calc(50% - 2*$bloc-padding);
$bloc-width-lg:calc(100% - 2*$bloc-padding);
$bloc-padding-lr-sm: 50px;
$bloc-width-sm: calc(100% - 2*$bloc-padding-lr-sm);

/*  Form  */
$form-margin-t:1rem;
$form-nomPrenom-width:100%;
$form-nomPrenom-childs-spaceBetween: 2rem;
$form-nomPrenom-childs-width:calc(50% - ($form-nomPrenom-childs-spaceBetween / 2));
$form-label-padding-tb:5px;
$form-input-border-px: 1px;
$form-input-min-height:2rem;
$form-input-padding:5px;
$form-input-border-radius: 10px;
$form-input-margin-b: 5px;

/*  Submit  */
$submit-width:200px;
$submit-height:3rem;
$submit-margin-t:10px;

/*  Données  */
$donnes-height:1.5rem;
$donnes-margin-r:10px;

/*  Données  */
$donnees-logo-width-height:1.3rem;
$donnees-logo-margin-r:5px;

/*  Réseaux */
$reseaux-margin-t:20px;
$reseaux-width:100%;
$reseaux-gap:25px;
$reseaux-logo-width-height:35px;

/*  MailSend  */
$mailSend-svg-width-height:100px;

.contentContact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contentContact__infos,
.contentContact__form,
.contentContact__mailSend {
  padding: $bloc-padding;
  width: $bloc-width;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.contentContact__form {
  margin-top: $form-margin-t;
}

.contentContact__form__nomPrenom {
  width: $form-nomPrenom-width;
  display: flex;
  justify-content: space-between;
}

.contentContact__form__nomPrenom__nom,
.contentContact__form__nomPrenom__prenom {
  width: $form-nomPrenom-childs-width;
}

.contentContact__form__input {
  display: flex;
  flex-direction: column;
}

.contentContact__form__input>label {
  font-weight: bold;
  padding: $form-label-padding-tb 0;
}

.contentContact__form__input>input,
.contentContact__form__input>textarea {
  border: $form-input-border-px solid  var(--header-bg);
  border-radius: $form-input-border-radius;
  min-height: $form-input-min-height;
  padding: $form-input-padding;
  margin-bottom: $form-input-margin-b;
}

.contentContact__form__submit {
  font-weight: bold;
  align-self: center;
  width: $submit-width;
  height: $submit-height;
  background-color: var(--header-bg);
  color: black;
  border: none;
  border-radius: $form-input-border-radius;
  margin-top: $submit-margin-t;
  cursor: pointer;
}

.contentContact__form__input__required::before {
  content: " *";
  color: red;
}

.contentContact__form__legendes {
  width: 100%;
}

.contentContact__form__legendes__legende {
  margin: $form-margin-t;
  font-size: 0.9em;
}

.contentContact__form__submit:hover {
  background-color: black;
  color: white;
}

.contentContact__infos__infosContact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contentContact__infos__infosContact__donnees {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  height: $donnes-height;
  margin: 0 $donnes-margin-r 0 0;
}

.contentContact__infos__infosContact__logo {
  width: $donnees-logo-width-height;
  height: $donnees-logo-width-height;
  margin-right: $donnees-logo-margin-r;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.contentContact__infos__reseaux {
  margin-top: $reseaux-margin-t;
  width: $reseaux-width;
  display: flex;
  justify-content: center;
  gap: $reseaux-gap;
}

.contentContact__infos__reseaux__reseau {
  width: $reseaux-logo-width-height;
  height: $reseaux-logo-width-height;
}

.contentContact__infos__reseaux__reseau__lien {
  display: block;
  width: 100%;
  height: 100%;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.contentContact__mailSend__svg {
  width: $mailSend-svg-width-height;
  height: $mailSend-svg-width-height;
  align-self: center;
  background-image: var(--svg-success);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;

}

.contentContact__mailSend__text {
  text-align: center;
}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

  .contentContact__form,
  .contentContact__mailSend {
    border-top: 1px solid var(--border-top-separation-responsive-color);
  }

  .contentContact__infos,
  .contentContact__form,
  .contentContact__mailSend {
    width: $bloc-width-lg;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .contentContact {
    padding : 0 $bloc-padding-lr-sm;
    width: $bloc-width-sm;
  }
}
