/* You can add global styles to this file, and also import other style files */

:root {
  --xxl:1400px;
  --xl:1200px;
  --lg:992px;
  --md:768px;
  --sm:576px;

  /* Header */
  --header-bg: rgb(200,209,222);
  --header-height: 7vh;
  --header-height-padding: calc(7vh + 2 * var(--header-padding-tb));
  --header-height-padding-lg: calc(7vh + 2 * var(--header-padding-tb-lg));
  --header-padding-tb: 3vh;
  --header-padding-tb-lg: 1vh;

  /* Body */
  --body-bg: rgb(200,209,222, 0.25);
  --body-padding-lr:25vw;
  --body-padding-lr-md:10vw;
  --body-padding-lr-sm:5vw;
  --body-width: calc(100vw - 2*var(--body-padding-lr));
  --body-width-md: calc(100vw - 2*var(--body-padding-lr-md));
  --body-width-sm: 100vw;
  --body-height-min : calc(100vh - var(--header-height-padding));
  --body-height-min-lg : calc(100vh - var(--header-height-padding-lg));

  /*  Autres  */
  --border-top-separation-responsive-color:rgba(0, 0, 0, 0.25);

  /*  SVG  */
  --svg-success:url("assets/Images/icones/success.svg");
  --svg-diplome:url("assets/Images/icones/diplome.svg");
  --svg-travail:url("assets/Images/icones/travail.svg");
  --svg-fleche:url("assets/Images/icones/fleche.svg");
  --svg-menu:url("assets/Images/icones/menu.svg");
  --svg-close:url("assets/Images/icones/close.svg");
  --svg-male:url("assets/Images/genre/male.svg");
  --svg-female:url("assets/Images/genre/female.svg")
}

html, #mainBody {
  background-color: var(--body-bg);
  padding:0;
  margin: 0;
  min-height: 100vh;
}

* {
  font-family: Sora-Regular,sans-serif;
}

p {
  line-height: 150%;
}
