/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: rgb(200,209,222, 0.25);
  padding:0;
  margin: 0;
  min-height: 100vh;
}

* {
  font-family: Sora-Regular,sans-serif;
}
