/*  Type de compétences */
$type-width: 50%;
$type-width-sm: 100%;
$type-height: calc(100% / 3);
$type-height-sm: calc(100% / 6);

/* Titre */
$titre-width: 100%;
$titre-height: 2rem;
$titre-margin-t: 1rem;

/*  Liste */
$liste-width: 100%;
$liste-margin-t:1rem;
$liste-height: calc(100% - $titre-height - $titre-margin-t);

/*  Compétence  */
$competence-width-height: 75px;
$competence-width-height-lg: 60px;
$competence-width-height-sm: 40px;
$competence-margin-r: 1rem;
$competence-margin-b: 0.5rem;

.competencesContent {
  width: 100%;
  height: var(--body-height-min);
  display: flex;
  flex-wrap: wrap;
}

.competencesContent__type {
  width: $type-width;
  height: $type-height;
  overflow: hidden;
}

.competencesContent__type:nth-child(2),
.competencesContent__type:nth-child(3),
.competencesContent__type:nth-child(6), {
  background-color: var(--body-bg);
}

.competencesContent__type__titre {
  width: $titre-width;
  height: $titre-height;
  margin-top: $titre-margin-t;

  display: flex;
  justify-content: center;
  align-items: center;
}

.competencesContent__type__titre > h1 {
  margin: 0;
}

.competencesContent__type__liste {
  width: 100%;
  height: $liste-height;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.competencesContent__type__liste__image {
  width: $competence-width-height;
  height: $competence-width-height;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  margin-right: $competence-margin-r;
  margin-bottom: $competence-margin-b;
}


@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .competencesContent__type__liste__image {
    max-width: $competence-width-height-lg;
    max-height: $competence-width-height-lg;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .competencesContent__type {
    width: $type-width-sm;
    height: $type-height-sm;
    background-color: transparent !important;
  }

  .competencesContent__type:nth-child(2n) {
    background-color: var(--body-bg) !important;
  }

  .competencesContent__type__liste {
    margin-top: $liste-margin-t;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .competencesContent__type__liste__image {
    max-width: $competence-width-height-sm;
    max-height: $competence-width-height-sm;
  }
}

