<div class="content-accueil">
  <div class="img-accueil">
    <img [src]="personne.img" [alt]="personne.nom">
  </div>
  <div class="txt-accueil">
    <div class="txt-accueil-content">
      <h1 class="txt-accueil-content-tittle">Bonjour, je m'appelle Kévin !</h1>
      <p class="txt-accueil-content-text">
        Bienvenue sur mon portfolio !
        <br>
        <br>
        Vous pourrez retrouver sur ce portfolio, les différents projets que j'ai pu effectuer professionnellement ou
        bien personnellement, ainsi que différentes informations sur moi-même.
        <br>
        <br>
        Bonne visite !
      </p>
    </div>
  </div>
</div>
